<!DOCTYPE html>
<html lang="en">

<head>
    <title>NearBy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/dist/login/bundle.css">
    <link rel="shortcut icon" href="/public/img/logo-icon.png">
</head>

<body ng-app="app" ng-controller="loginCtrl as vm" layout="column">

    <md-toolbar class="navbar" ng-cloak="ng-cloak">
        <div class="md-toolbar-tools" layout="row" layout-align="start center" layout-align-gt-sm="center center">
            <h1>
                <md-icon aria-label="Logo" class="material-icons" md-colors="{color: 'default-red'}">place</md-icon>
                <span hide show-gt-sm>NearBy</span>
            </h1>
        </div>
    </md-toolbar>

    <div flex layout="column">

        <md-content flex class="form" layout="row" layout-align="center center" layout-padding ng-cloak="ng-cloak" class="login-form">
            <md-card ng-show="vm.showLoginForm" md-whiteframe="10" flex="flex" flex-gt-sm="50" flex-gt-md="33">
                <md-toolbar md-whiteframe="5">
                    <div class="md-toolbar-tools">
                        <h2><span>Login Form</span></h2>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <form name="LoginForm" ng-submit="vm.login()">
                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input type="text" name="email" ng-model="vm.loginUser.email" required="" />
                            <div ng-messages="LoginForm.email.$error" role="alert" multiple="">
                                <div ng-message="required" class="my-message">Please enter your Email</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input type="password" name="password" ng-model="vm.loginUser.pwd" required="" md-maxlength="16" />
                            <div ng-messages="LoginForm.password.$error" role="alert" multiple="">
                                <div ng-message="required" class="my-message">Please enter your password.</div>
                                <div ng-message="md-maxlength" class="my-message">Too long.</div>
                            </div>
                        </md-input-container>
                        <div layout="row" layout-align="center" layout-fill class="form-err" ng-if="vm.invalidCredentials" role="alert">
                            <span>Invalid Email ID or Password</span>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <md-button ng-disabled="!LoginForm.$valid" ng-click="vm.login()" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
                            <md-button ng-if="true" ng-click="vm.showLogin(false)" class="md-raised">&nbsp Register &nbsp</md-button>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
            <md-card ng-cloak ng-hide="vm.showLoginForm" class="md-whiteframe-10dp" flex="flex" flex-gt-sm="50" flex-gt-md="33">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2><span>Register Form</span></h2>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <form name="RegForm" ng-submit="vm.register()">
                        <md-input-container class="md-block">
                            <label>Name</label>
                            <input type="text" name="name" ng-model="vm.registerUser.name" required="" />
                            <div ng-messages="RegForm.name.$error" role="alert" multiple="">
                                <div ng-message="required" class="my-message">Please enter your name</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input type="text" name="email" ng-model="vm.registerUser.email" required="" />
                            <div ng-messages="RegForm.email.$error" role="alert" multiple="">
                                <div ng-message="required" class="my-message">Please enter your email.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input type="password" name="password" ng-model="vm.registerUser.pwd" required="" md-maxlength="16" />
                            <div ng-messages="RegForm.password.$error" role="alert" multiple="">
                                <div ng-message="required" class="my-message">Please enter your password.</div>
                                <div ng-message="md-maxlength" class="my-message">Too long.</div>
                            </div>
                        </md-input-container>
                        <div layout="row" layout-align="center" layout-fill class="form-err" ng-if="vm.formErrMsg" role="alert">
                            <span ng-bind="vm.formErrMsg"></span>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <md-button ng-disabled="!RegForm.$valid" ng-click="vm.register()" class="md-raised md-primary">&nbsp Register &nbsp</md-button>
                            <md-button ng-click="vm.showLogin(true)" class="md-raised">&nbsp Login &nbsp</md-button>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
        </md-content>

    </div>
    <script src='/dist/login/bundle.js' charset='utf-8'></script>
</body>

</html>